@inject NavigationManager navMgr

@page "/"

<PageTitle>Index</PageTitle>

<h1>Welcome to our page!</h1>

<div>
    <span>If you want to log in, please click on this button:</span>
    <td @onclick="@(() => navMgr.NavigateTo($"/Login"))"> Login </td>
</div>