@inject NavigationManager navMgr

@page "/"

<PageTitle>Welcome</PageTitle>

<p class="center"> Just some news and info about banking idk</p>

<style>
    .center{
    position: absolute;
    top: 50%;
    left: 50%;
   }
</style>