@inject NavigationManager navMgr

@page "/"

<PageTitle>Welcome</PageTitle>

<p class="center"> Welcome to the VIA bank page</p>

<style>
    .center{
    position: absolute;
    top: 50%;
    left: 50%;
   }
</style>