@page "/Login"
@using HttpClients.ClientInterfaces
@inject IAuthService authService
@inject NavigationManager nav
<h3>Login</h3>

@code {
    private string username;
    private string password;
    private string error;

    private async Task LoginAsync()
    {
        try
        {
            await authService.LoginAsync(username, password);
            nav.NavigateTo("/");
        }
        catch (Exception e)
        {
            error = $"Error: {e.Message}";
        }
    }

}