@page "/ViewAccount/{id:int}"
@using Domain.Model
@using HttpClients.ClientInterfaces
@inject IAccountService accountService

<div>
    <p>Id of the account: @id</p>
    <br/>
    <p>Currency of the account: @MainCurrency</p>
    <br/>
    <p>Does it have a loan? @Loan</p>
    <br/>
    <p>Balance: @Balance</p>
</div>

@code {
    [Parameter]
    public int id { get; set; }
    private string MainCurrency = "";
    private bool Loan;
    private double Balance;

    private string msg = "";

    protected override async Task OnInitializedAsync()
    {
        try
        {
            Account account = await accountService.GetAccountAsync(id);
            MainCurrency = account.mainCurrency;
            Loan = account.loan;
            double Total = 0;
            for (int i = 0; i < account.Currencies.Count; i++)
            {
                Total += account.Currencies[i].balance; //put conversion code here later
            }
            Balance = Total;
        }
        catch (Exception e)
        {
            Console.WriteLine(e);
            msg = e.Message;
        }
    }

}