.idea/*
PersistentServer/.idea/*
PersistentServer/target/*
PersistentServer/database/*
PersistentServer/ps.log
.vs/*
dotNetProject/WebAPI/bin/*
dotNetProject/WebAPI/obj/*
dotNetProject/Domain/bin/*
dotNetProject/Domain/obj/*
dotNetProject/Application/bin/*
dotNetProject/Application/obj/*
dotNetProject/BlazorWASM/bin/*
dotNetProject/BlazorWASM/obj/*
dotNetProject/GrpcData/bin/*
dotNetProject/GrpcData/obj/*
dotNetProject/FileData/bin/*
dotNetProject/FileData/obj/*
dotNetProject/HttpClients/bin/*
dotNetProject/HttpClients/obj/*
dotNetProject/.vs/*