@using HttpClients.ClientInterfaces
@inherits LayoutComponentBase
@inject NavigationManager navMgr
@inject IAuthService authService

<PageTitle>BlazorWASM</PageTitle>

<div class="page">
    <div class="sidebar">
        <NavMenu/>
    </div>

    <main>
        <div class="top-row px-4">
            <CascadingAuthenticationState>
            <AuthorizeView>
                <Authorized>
                    <button style="border-radius: 12px; background-color: lightskyblue" @onclick="Logout">Logout</button>
                </Authorized>
                <NotAuthorized>
                    <button style="border-radius: 12px; background-color: lightskyblue" @onclick="Login">Login</button>
                </NotAuthorized>
            </AuthorizeView>
            </CascadingAuthenticationState>

        </div>

        <article class="content px-4">
            @Body
        </article>
    </main>
</div>

@code
{
    private void Login()
    {
        navMgr.NavigateTo("/Login");
    }

    private async void Logout()
    {
        await authService.LogoutAsync();
        navMgr.NavigateTo("/");
    }
}
